body{
    background-color: aquamarine;
    height:1000px;
    width: 900px;
    text-align: center;
    
}
div{
    margin-top: 10px;
}
button{
    margin-top: 10px;
margin-left: 10px;
}
.formID {
    display:block;
    text-align: center;
}
form{
    display:inline-block;
    margin-left:300px;
}